In [1]:
#import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#load the dataset
survey_result = pd.read_csv('desktop/survey_results_public.csv')

In [3]:
survey_result.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [7]:
#checking the shape 
survey_result.shape

(64461, 61)

In [10]:
#describing the dataset
survey_result.describe(include= 'all')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
count,64461.000000,64162,64416,45446.000000,57900,40069,3.482600e+04,3.475600e+04,64072,45472,...,51802,51701,49345,50995,40024,42279,52683,41151.000000,57684,46349
unique,NaN,5,2,NaN,63,3,NaN,NaN,183,142,...,3,3,2,12,3986,3789,6,NaN,52,52
top,NaN,I am a developer by profession,Yes,NaN,15,Yearly,NaN,NaN,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,jQuery,Just as welcome now as I felt last year,NaN,10,3
freq,NaN,47193,50388,NaN,5618,19818,NaN,NaN,12469,11050,...,34626,38769,48871,31582,2480,2079,37201,NaN,4510,4815
mean,32554.079738,NaN,NaN,30.834111,NaN,NaN,3.187274e+242,1.037561e+05,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.782174,NaN,NaN
std,18967.442360,NaN,NaN,9.585392,NaN,NaN,inf,2.268853e+05,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.816383,NaN,NaN
min,1.000000,NaN,NaN,1.000000,NaN,NaN,0.000000e+00,0.000000e+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,16116.000000,NaN,NaN,24.000000,NaN,NaN,2.000000e+04,2.464800e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN
50%,32231.000000,NaN,NaN,29.000000,NaN,NaN,6.300000e+04,5.404900e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN
75%,49142.000000,NaN,NaN,35.000000,NaN,NaN,1.250000e+05,9.500000e+04,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.000000,NaN,NaN
max,65639.000000,NaN,NaN,279.000000,NaN,NaN,1.110000e+247,2.000000e+06,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475.000000,NaN,NaN

In [13]:
#correlation
corr = survey_result.corr()
corr

               Respondent       Age  CompTotal  ConvertedComp  WorkWeekHrs
Respondent       1.000000 -0.026741   0.000000      -0.005805    -0.003330
Age             -0.026741  1.000000   0.044234       0.107002     0.050245
CompTotal        0.000000  0.044234        NaN       0.000000    -0.000000
ConvertedComp   -0.005805  0.107002   0.000000       1.000000     0.032612
WorkWeekHrs     -0.003330  0.050245  -0.000000       0.032612     1.000000

In [24]:
#select columns that will be needed for the analysis
ds = survey_result[['MainBranch','Hobbyist','Age','Age1stCode','CompFreq','CompTotal','Country','DatabaseWorkedWith','DevType','EdLevel','Employment','JobFactors','JobSat','JobSeek','DevType','LanguageWorkedWith','WorkWeekHrs','YearsCode', 'YearsCodePro','NEWLearn']]

In [25]:
ds.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,Country,DatabaseWorkedWith,DevType,EdLevel,Employment,JobFactors,JobSat,JobSeek,DevType,LanguageWorkedWith,WorkWeekHrs,YearsCode,YearsCodePro,NEWLearn
0,I am a developer by profession,Yes,NaN,13,Monthly,NaN,Germany,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...","Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,"Developer, desktop or enterprise applications;...",C#;HTML/CSS;JavaScript,50.0,36,27,Once a year
1,I am a developer by profession,No,NaN,19,NaN,NaN,United Kingdom,NaN,"Developer, full-stack;Developer, mobile","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Very dissatisfied,I am not interested in new job opportunities,"Developer, full-stack;Developer, mobile",JavaScript;Swift,NaN,7,4,Once a year
2,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,NaN,4,NaN,Once a decade
3,I am a developer by profession,Yes,25.0,18,NaN,NaN,Albania,NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"Iâ€™m not actively looking, but I am open to new...",NaN,NaN,40.0,7,4,Once a year
4,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,United States,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,NaN,HTML/CSS;Ruby;SQL,NaN,15,8,Once a year

In [26]:
#checking for missing values
ds.isnull().sum()

MainBranch              299
Hobbyist                 45
Age                   19015
Age1stCode             6561
CompFreq              24392
CompTotal             29635
Country                 389
DatabaseWorkedWith    14924
DevType               15091
EdLevel                7030
Employment              607
JobFactors            15112
JobSat                19267
JobSeek               12734
DevType               15091
LanguageWorkedWith     7083
WorkWeekHrs           23310
YearsCode              6777
YearsCodePro          18112
NEWLearn               8305
dtype: int64

In [27]:
#drop rows with missing values
new_ds = ds.dropna()

In [28]:
new_ds.isnull().sum()

MainBranch            0
Hobbyist              0
Age                   0
Age1stCode            0
CompFreq              0
CompTotal             0
Country               0
DatabaseWorkedWith    0
DevType               0
EdLevel               0
Employment            0
JobFactors            0
JobSat                0
JobSeek               0
DevType               0
LanguageWorkedWith    0
WorkWeekHrs           0
YearsCode             0
YearsCodePro          0
NEWLearn              0
dtype: int64

In [29]:
#check shape of the new dataset
new_ds.shape

(24778, 20)